<div>
  Language
   <select name="lang" [(ngModel)]="lang" 
   (change)="langChange()">
     <option>English</option>
     <option>Telugu </option>
     <option> Tamil</option>
     <option>Hindi </option>
   </select>
</div>
<div align="right">
  <button class="btn btn-danger" >
    <span class="glyphicon glyphicon-shopping-cart"></span>Cart {{cart.length}}
  </button>
</div>
<div class="row">
<div class='col-md-4 col-sm-6' *ngFor="let temp of courselist">
  <course [coursedata]='temp'
  (notifyParent)="getInfo($event)"></course>
</div>
</div>

<offer *banner="5"></offer>